<!DOCTYPE html>
<html>
<head>
	<title>Router Configuration</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_adm.css') }}">
</head>
<body>
	<header>
		<h1>CORP Router Configuration</h1>
		<div class="command-box">
			<form method="POST" action="{{ url_for('exec') }}" id="form">
				<input type="text" name="command" id="command" placeholder="Enter command" type="text">
				<button type="submit" onclick="executeCommand()">Execute</button>
			</form>
		</div>
	</header>
	<main>
		<section class="system-status">
			<h2>System Status</h2>
			<p id="status">Connected</p>
		</section>
		<section class="network-traffic">
			<h2>Network Traffic</h2>
			<img src="{{ url_for('static', filename='img/traffic.webp') }}" id="traffic">			
		</section>
		<section class="settings">
			<h2>Settings</h2>
			<ul>
			  <li><a href="#" id="wifi-link">Wi-Fi</a></li>
			  <li><a href="#" id="lan-link">LAN</a></li>
			  <li><a href="#" id="wan-link">WAN</a></li>
			</ul>
		  </section>		  
	</main>
	<script type="text/javascript" src="{{ url_for('static', filename='js/script_adm.js') }}"></script>
</body>
</html>
